In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Use plotly offline for fancy plots
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go
# use cufflinks to bind plotly to pandas
import cufflinks as cf 
from os import listdir
# for display control
from IPython.display import display
# Gradient boosting using LightBGM
import lightgbm as lgb
from sklearn.model_selection import train_test_split
# Garbage collection
import gc
gc.enable()
# Lock pseudo-number seed
randSeed = 1
np.random.seed(randSeed)

In [12]:
# Load all data
dataFiles = listdir("../data/home-credit-default-risk/")
for filename in dataFiles:
    print(f'loading {filename} ...')
    if '.csv.zip' in filename:
        # compressed data file
        locals()[filename.rstrip('.csv.zip')] = pd.read_csv(
            f'../data/home-credit-default-risk/{filename}',
            compression='zip', 
            header=0, 
            sep=',', 
            quotechar='"'
        )

dataTrain = application_train
dataTest = application_test
print('done')

loading application_train.csv.zip ...
loading previous_application.csv.zip ...
loading bureau.csv.zip ...
loading credit_card_balance.csv.zip ...
loading application_test.csv.zip ...
loading installments_payments.csv.zip ...
loading bureau_balance.csv.zip ...
loading POS_CASH_balance.csv.zip ...
loading HomeCredit_columns_description.csv ...
loading sample_submission.csv.zip ...

In [45]:
# Utility function to transform all catagorical fields using one hot ending
def oneHotEncoding(df):
    # Get list categorical features
    catFeatures = [col for col in df.columns if df[col].dtype == 'object']
    # Convert to one hot encoding
    ohe = pd.get_dummies(df, columns=catFeatures)
    return ohe

In [53]:
## Preprocess bureau datasets
print('Raw bureau_balance dataset')
display(bureau_balance.head(5))
# Count by status
bureauBalance = bureau_balance.groupby('SK_ID_BUREAU')['STATUS'].value_counts(normalize = False)
# Pivot into table of status values
bureauBalance = bureauBalance.unstack('STATUS')
# Add months balance data as new fileds
bureauBalance['MONTHS_COUNT'] = bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].size()
bureauBalance['MONTHS_MAX'] = bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].max()
bureauBalance['MONTHS_MIN'] = bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].min()
print('Formatted')
display(bureauBalance.head(5))

# Finally, merge the two bureau table together 
bureauData = bureau.join(bureauBalance, how='left', on='SK_ID_BUREAU')

# Transform features
bureauData = oneHotEncoding(bureauData).groupby('SK_ID_CURR').mean()
print('Merged and transformed')
display(bureauData.head(5))

# Merge features into main training dataset
dataTrain = application_train.merge(
    right = bureauData,
    how = 'left',
    on = 'SK_ID_CURR'
)
dataTest = application_test.merge(
    right = bureauData,
    how = 'left',
    on = 'SK_ID_CURR'
)
# collect
gc.collect();

Raw bureau_balance dataset

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

Formatted

STATUS,0,1,2,3,4,5,C,X,MONTHS_COUNT,MONTHS_MAX,MONTHS_MIN
SK_ID_BUREAU,,,,,,,,,,,
5001709,NaN,NaN,NaN,NaN,NaN,NaN,86.0,11.0,97,0,-96
5001710,5.0,NaN,NaN,NaN,NaN,NaN,48.0,30.0,83,0,-82
5001711,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,0,-3
5001712,10.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,19,0,-18
5001713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,22,0,-21

Merged and transformed

,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,5896633.000,-735.000000,0.0,82.428571,-825.500000,NaN,0.0,207623.571429,85240.928571,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100002,6153272.125,-874.000000,0.0,-349.000000,-697.500000,1681.029,0.0,108131.945625,49156.200000,7997.14125,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100003,5885878.500,-1400.750000,0.0,-544.500000,-1097.333333,0.000,0.0,254350.125000,0.000000,202500.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004,6829133.500,-867.000000,0.0,-488.500000,-532.500000,0.000,0.0,94518.900000,0.000000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100005,6735201.000,-190.666667,0.0,439.333333,-123.000000,0.000,0.0,219042.000000,189469.500000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
display(bureauData.groupby('SK_ID_CURR').head(5))
.head(5)

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan
0,215354,5714462,-497,0,-153.0,-153.0,NaN,0,91323.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1,215354,5714463,-208,0,1075.0,NaN,NaN,0,225000.000,171342.000,...,0,0,0,0,0,0,0,0,0,0
2,215354,5714464,-203,0,528.0,NaN,NaN,0,464323.500,NaN,...,0,0,0,0,0,0,0,0,0,0
3,215354,5714465,-203,0,NaN,NaN,NaN,0,90000.000,NaN,...,0,0,0,0,0,0,0,0,0,0
4,215354,5714466,-629,0,1197.0,NaN,77674.50,0,2700000.000,NaN,...,0,0,0,0,0,0,0,0,0,0
7,162297,5714469,-1896,0,-1684.0,-1710.0,14985.00,0,76878.450,0.000,...,0,0,0,0,0,0,0,0,0,0
8,162297,5714470,-1146,0,-811.0,-840.0,0.00,0,103007.700,0.000,...,0,0,0,0,0,0,0,0,0,0
9,162297,5714471,-1146,0,-484.0,NaN,0.00,0,4500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
10,162297,5714472,-1146,0,-180.0,NaN,0.00,0,337500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
11,162297,5714473,-2456,0,-629.0,-825.0,NaN,0,675000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
13,402440,5714475,-96,0,269.0,NaN,0.00,0,89910.000,76905.000,...,0,0,0,0,0,0,0,0,0,0
14,238881,5714482,-318,0,-187.0,-187.0,NaN,0,0.000,0.000,...,0,0,0,0,0,0,0,0,0,0
15,238881,5714484,-2911,0,-2607.0,-2604.0,NaN,0,48555.000,NaN,...,0,0,0,0,0,0,0,0,0,0
16,238881,5714485,-2148,0,-1595.0,-987.0,NaN,0,135000.000,NaN,...,0,0,0,0,0,0,0,0,0,0
17,238881,5714486,-381,0,NaN,NaN,NaN,0,450000.000,520920.000,...,0,0,0,0,0,0,0,0,0,0
18,238881,5714487,-95,0,1720.0,NaN,NaN,0,67500.000,8131.500,...,0,0,0,0,0,0,0,0,0,0
21,222183,5714491,-784,0,1008.0,NaN,0.00,0,0.000,-411.615,...,0,0,0,0,0,0,0,0,0,0
22,222183,5714492,-774,0,625.0,NaN,NaN,0,127840.500,0.000,...,0,0,0,0,0,0,0,0,0,0
23,222183,5714493,-395,0,1431.0,NaN,NaN,0,1350000.000,1185493.500,...,0,0,0,0,0,0,0,0,0,0
24,222183,5714495,-2744,0,-2561.0,-2559.0,310.50,0,18157.500,NaN,...,0,0,0,0,0,0,0,0,0,0
25,222183,5714496,-1103,0,-7.0,-343.0,20493.27,0,675000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
27,426155,5714498,-1331,0,-994.0,-1023.0,1350.00,0,39433.500,0.000,...,0,0,0,0,0,0,0,0,0,0
28,426155,5714499,-2534,0,-2352.0,-2347.0,NaN,0,38830.500,0.000,...,0,0,0,0,0,0,0,0,0,0
29,426155,5714500,-845,0,-480.0,-480.0,0.00,0,67500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
30,426155,5714501,-529,0,-343.0,-343.0,0.00,0,182791.440,0.000,...,0,0,0,0,0,0,0,0,0,0
31,136226,5714502,-521,0,551.0,NaN,NaN,0,112500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
32,136226,5714503,-559,0,NaN,-355.0,0.00,0,110250.000,0.000,...,0,0,0,0,0,0,0,0,0,0
33,400486,5714504,-2413,0,-1864.0,-2128.0,NaN,0,180000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
34,400486,5714506,-941,0,-17.0,NaN,NaN,0,40500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
35,400486,5714507,-1110,0,-745.0,-727.0,NaN,0,114727.500,0.000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716316,327368,5055224,-228,0,31092.0,NaN,NaN,0,13500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716317,327368,5055226,-1090,0,-724.0,-936.0,NaN,0,135000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716318,368218,5055234,-249,0,1050.0,NaN,NaN,0,67500.000,64678.500,...,0,0,0,0,0,0,0,0,0,0
1716321,117222,5055252,-1057,0,-873.0,-873.0,NaN,0,67050.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716322,392435,5055257,-151,0,31092.0,NaN,NaN,0,40500.000,32827.500,...,0,0,0,0,0,0,0,0,0,0
1716324,104893,5055269,-51,0,NaN,NaN,0.00,0,103500.000,92882.250,...,0,0,0,0,0,0,0,0,0,0
1716325,229234,5055271,-696,0,-331.0,-390.0,NaN,0,675000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716326,229234,5055272,-696,0,-331.0,NaN,NaN,0,675000.000,292725.000,...,0,0,0,0,0,0,0,0,0,0
1716327,341978,5055274,-723,0,-526.0,-526.0,NaN,0,247500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716328,219259,5055279,-558,0,-254.0,-254.0,NaN,0,62532.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716330,122926,5055298,-662,0,433.0,NaN,0.00,0,1575000.000,830860.875,...,0,0,0,0,0,0,0,0,0,0
1716334,283427,5055343,-1371,0,-1097.0,-1098.0,NaN,0,69300.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716336,416441,5055360,-803,0,-681.0,-681.0,0.00,0,41242.500,0.000,...,0,0,0,0,0,0,0,0,0,0
1716339,222329,5055376,-619,0,-435.0,-435.0,0.00,0,68175.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716342,426097,5055401,-44,0,-30.0,-31.0,NaN,0,31500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716346,279516,5055431,-2902,0,-1806.0,-1825.0,NaN,0,270000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716352,373945,5055522,-775,0,-593.0,-593.0,0.00,0,91692.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716353,339164,5055535,-704,0,-492.0,-520.0,NaN,0,82615.230,0.000,...,0,0,0,0,0,0,0,0,0,0
1716361,345281,5055592,-307,0,424.0,NaN,NaN,0,284400.000,5454.000,...,0,0,0,0,0,0,0,0,0,0
1716362,192260,5055597,-407,0,-199.0,-199.0,0.00,0,314038.935,0.000,...,0,0,0,0,0,0,0,0,0,0
1716363,218015,5057205,-125,0,1057.0,NaN,NaN,0,180000.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716364,167522,5057214,-895,0,241.0,NaN,NaN,0,180000.000,178339.500,...,0,0,0,0,0,0,0,0,0,0
1716370,108291,5057277,-1546,0,-966.0,-966.0,0.00,0,326876.535,0.000,...,0,0,0,0,0,0,0,0,0,0
1716378,182248,5057361,-895,0,203.0,NaN,NaN,0,180000.000,146502.000,...,0,0,0,0,0,0,0,0,0,0
1716391,129669,5057475,-918,0,-736.0,-711.0,NaN,0,90000.000,NaN,...,0,0,0,0,0,0,0,0,0,0
1716399,232638,5057553,-613,0,721.0,NaN,NaN,0,972000.000,886297.500,...,0,0,0,0,0,0,0,0,0,0
1716401,145715,5057569,-2333,0,-2027.0,-1984.0,173.07,0,35032.500,0.000,...,0,0,0,0,0,0,0,0,0,0
1716410,280228,5057642,-575,0,813.0,NaN,NaN,0,67500.000,0.000,...,0,0,0,0,0,0,0,0,0,0
1716411,232118,5057652,-821,0,-425.0,-545.0,0.00,0,108765.720,0.000,...,0,0,0,0,0,0,0,0,0,0
1716423,259355,5057750,-44,0,-30.0,NaN,0.00,0,11250.000,11250.000,...,0,0,0,0,0,1,0,0,0,0

,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,5896633.000,-735.000000,0.0,82.428571,-825.500000,NaN,0.0,207623.571429,85240.928571,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100002,6153272.125,-874.000000,0.0,-349.000000,-697.500000,1681.029,0.0,108131.945625,49156.200000,7997.14125,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100003,5885878.500,-1400.750000,0.0,-544.500000,-1097.333333,0.000,0.0,254350.125000,0.000000,202500.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004,6829133.500,-867.000000,0.0,-488.500000,-532.500000,0.000,0.0,94518.900000,0.000000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100005,6735201.000,-190.666667,0.0,439.333333,-123.000000,0.000,0.0,219042.000000,189469.500000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
## Pre-process data
# Get all data columns
dataCols = application_train.columns

# categoricalize
categoricalFeatures = [col for col in dataCols if data[col].dtype == 'object']

for column in categorical_columns:
    application_train[column] = application_train[column].astype('category')
    application_test[column] = application_test[column].astype('category')

In [135]:
ignoredFields = ['TARGET']
# Assemble into I/O dataset format
#   X - All fields other than 'TARGET'
#   Y - 'TARGET' fields
trainDataMask = [col for col in dataCols if col not in ignoredFields]
x = application_train[trainDataMask]
y = application_train['TARGET']

# Split training data randomly using train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    x, y, 
    test_size = 0.25,
    random_state = randSeed
)

# Create lgb dataset
lgb_train = lgb.Dataset(data=x_train, label=y_train)
lgb_test = lgb.Dataset(data=x_test, label=y_test)

In [165]:
params = {
    'task': 'train',
    'device' : 'cpu',
    'nthread': 4,            # [CPU] number of OpenMP threads
    'gpu_use_dp' : 'false',  # [GPU] set to 1 to enable 64bit float point
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'num_iteration': 1000,
    'num_leaves': 32,
    'metric': 'auc',
    'reg_alpha': 5,
    'reg_lambda': 10,
    'learning_rate': 0.05,
    'max_bin': 256,
    'max_depth' : 10,
    'min_data_in_leaf': 32,
    'min_split_gain': 0.5,
    'min_child_weight': 1,
    'min_child_samples': 5,
    'subsample_for_bin': 200,
    'subsample': 1,
    'subsample_freq': 1,
    'colsample_bytree': 0.6,
    'verbose': 0
}

gbm = lgb.train(
    params,
    lgb_train,
    num_boost_round = 50,
    valid_sets = lgb_test,
    early_stopping_rounds = 50,
    verbose_eval = 50
)

c:\users\chenc\envs\kaggle\lib\site-packages\lightgbm\engine.py:99: UserWarning:

Found `num_iteration` in params. Will use it instead of argument

Training until validation scores don't improve for 10 rounds.
[50]	valid_0's auc: 0.744373
[100]	valid_0's auc: 0.75339
[150]	valid_0's auc: 0.759146
[200]	valid_0's auc: 0.76165
[250]	valid_0's auc: 0.762997
[300]	valid_0's auc: 0.763662
[350]	valid_0's auc: 0.763995
[400]	valid_0's auc: 0.764199
[450]	valid_0's auc: 0.764599
Early stopping, best iteration is:
[468]	valid_0's auc: 0.764712