In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Use plotly offline for fancy plots
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go
# use cufflinks to bind plotly to pandas
import cufflinks as cf 
import os
from os import listdir
# for display control
from IPython.display import display
# Gradi
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
# Use LabelEncoder that seems to yield better result
from sklearn.preprocessing import LabelEncoder
# For parallel multi-threading
from multiprocessing import Pool, cpu_count, Array
# Garbage collection
import gc
gc.enable()
# Lock pseudo-number seed
randSeed = 1
np.random.seed(randSeed)

In [5]:
# Global verbose control# Globa 
PREVIEW_DATASET = 0
ADD_STATS_FEATURES = 1

In [10]:
# Load all data
dataPath = '../data/home-credit-default-risk/'
dataFiles = listdir(f"{dataPath}")
for filename in dataFiles:
    print(f'loading {filename} ...')
    if '.csv.zip' in filename:
        # compressed data file
        locals()[filename.rstrip('.csv.zip')] = pd.read_csv(
            f'{dataPath}/{filename}',
            compression='zip', 
            header=0, 
            sep=',', 
            quotechar='"'
        )
    else:
        print('---> Not loaded!')

# Get output label and remove it from feature list
dataTrain = application_train
dataTest = application_test
y = dataTrain['TARGET']

# Transform using One Hot Encoding 
# (using only the training dataset features as reference)
catFeatures = [
    col 
    for col in dataTrain.columns 
    if dataTrain[col].dtype == 'object'
]
ohe = pd.concat([dataTrain,dataTest], sort=False)
ohe = pd.get_dummies(ohe, columns = catFeatures)
dataTrain = ohe.iloc[:dataTrain.shape[0],:]
dataTest = ohe.iloc[dataTrain.shape[0]:,]
del dataTrain['TARGET']
del dataTest['TARGET']

# Summarize dataset
featureCnt = len(dataTrain.keys()) - 1
numSamples = len(dataTrain)
print(f'Training dataset has {numSamples} samples, and {featureCnt} features')
featureCnt = len(dataTest.keys()) - 1
numSamples = len(dataTest)
print(f'Testing dataset has {numSamples} samples, and {featureCnt} features')

print('done')

loading .DS_Store ...
Not loaded!
loading bureau_balance.csv.zip ...
loading application_train.csv.zip ...
loading credit_card_balance.csv.zip ...
loading application_test.csv.zip ...
loading HomeCredit_columns_description.csv ...
Not loaded!
loading application_train.csv ...
Not loaded!
loading installments_payments.csv.zip ...
loading POS_CASH_balance.csv.zip ...
loading bureau.csv.zip ...
loading previous_application.csv.zip ...
loading sample_submission.csv.zip ...
Training dataset has 307511 samples, and 244 features
Testing dataset has 48744 samples, and 244 features
done

In [17]:
catFeatures = [col for col in application_train.columns if application_train[col].dtype == 'object']
len(catFeatures)

16

In [16]:
cols = [col for col in application_train.columns]
len(cols)

122

In [10]:
# Utility function to transform all catagorical fields using one hot ending
def oneHotEncoding(df):
    # Get list categorical features
    catFeatures = [col for col in df.columns if df[col].dtype == 'object']
    # Convert to one hot encoding
    ohe = pd.get_dummies(df, columns=catFeatures)
    return ohe

In [8]:
grouped_bureau_balance = bureau_balance.groupby('SK_ID_BUREAU')
bb = (grouped_bureau_balance.STATUS
          .value_counts()
          .unstack('STATUS')
          .join(grouped_bureau_balance.MONTHS_BALANCE
                    .agg([len, max, min])
                    .rename(columns={'len':'MOMTHS_COUNT',
                                     'max':'MOMTHS_MAX',
                                     'min':'MONTHS_MIN'})
               )
     )
bb.head()

,0,1,2,3,4,5,C,X,MOMTHS_COUNT,MOMTHS_MAX,MONTHS_MIN
SK_ID_BUREAU,,,,,,,,,,,
5001709,NaN,NaN,NaN,NaN,NaN,NaN,86.0,11.0,97,0,-96
5001710,5.0,NaN,NaN,NaN,NaN,NaN,48.0,30.0,83,0,-82
5001711,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,0,-3
5001712,10.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,19,0,-18
5001713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,22,0,-21

In [64]:
## Preprocess bureau datasets
print('Raw bureau_balance dataset')
display(bureau_balance.head(5))

### CHEN's Original < ###
## Count by status
#bureauBalance = bureau_balance.groupby('SK_ID_BUREAU')['STATUS'].value_counts(normalize = False)
## Pivot into table of status values
#bureauBalance = bureauBalance.unstack('STATUS')
## Add months balance data as new fileds
#bureauBalance['MONTHS_COUNT'] = bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].size()
#bureauBalance['MONTHS_MAX'] = bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].max()
#bureauBalance['MONTHS_MIN'] = bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].min()
### CHEN's Original > ###

### Mohan's New 
grouped_bureau_balance = bureau_balance.groupby('SK_ID_BUREAU')
bureauBalance = (grouped_bureau_balance.STATUS
          .value_counts(normalize = False)
          .unstack('STATUS')
          .join(grouped_bureau_balance.MONTHS_BALANCE
                    .agg([len, max, min])
                    .rename(columns={'len':'MOMTHS_COUNT',
                                     'max':'MOMTHS_MAX',
                                     'min':'MONTHS_MIN'})
               )
     )


print('Formatted')
display(bureauBalance.head(5))

# Finally, merge the two bureau table together 
bureauData = bureau.join(bureauBalance, how='left', on='SK_ID_BUREAU')

# Transform features
bureauData = oneHotEncoding(bureauData).groupby('SK_ID_CURR').mean()
print('Merged and transformed')
display(bureauData.head(5))

# Merge features into main training dataset
#dataTrain = application_train.merge(
#    right = bureauData,
#    how = 'left',
#    on = 'SK_ID_CURR'
#)
#dataTest = application_test.merge(
#    right = bureauData,
#    how = 'left',
#    on = 'SK_ID_CURR'
#)
# collect
gc.collect();

Raw bureau_balance dataset

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

Formatted

,0,1,2,3,4,5,C,X,MOMTHS_COUNT,MOMTHS_MAX,MONTHS_MIN
SK_ID_BUREAU,,,,,,,,,,,
5001709,NaN,NaN,NaN,NaN,NaN,NaN,86.0,11.0,97,0,-96
5001710,5.0,NaN,NaN,NaN,NaN,NaN,48.0,30.0,83,0,-82
5001711,3.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,0,-3
5001712,10.0,NaN,NaN,NaN,NaN,NaN,9.0,NaN,19,0,-18
5001713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,22,0,-21

Merged and transformed

,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,5896633.000,-735.000000,0.0,82.428571,-825.500000,NaN,0.0,207623.571429,85240.928571,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100002,6153272.125,-874.000000,0.0,-349.000000,-697.500000,1681.029,0.0,108131.945625,49156.200000,7997.14125,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100003,5885878.500,-1400.750000,0.0,-544.500000,-1097.333333,0.000,0.0,254350.125000,0.000000,202500.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100004,6829133.500,-867.000000,0.0,-488.500000,-532.500000,0.000,0.0,94518.900000,0.000000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100005,6735201.000,-190.666667,0.0,439.333333,-123.000000,0.000,0.0,219042.000000,189469.500000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
display(bureauData.groupby('SK_ID_CURR').head(5))

,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,...,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,5.896633e+06,-735.000000,0.0,82.428571,-825.500000,NaN,0.000000,2.076236e+05,8.524093e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100002,6.153272e+06,-874.000000,0.0,-349.000000,-697.500000,1681.029000,0.000000,1.081319e+05,4.915620e+04,7997.141250,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100003,5.885878e+06,-1400.750000,0.0,-544.500000,-1097.333333,0.000000,0.000000,2.543501e+05,0.000000e+00,202500.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100004,6.829134e+06,-867.000000,0.0,-488.500000,-532.500000,0.000000,0.000000,9.451890e+04,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100005,6.735201e+06,-190.666667,0.0,439.333333,-123.000000,0.000000,0.000000,2.190420e+05,1.894695e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100007,5.987200e+06,-1149.000000,0.0,-783.000000,-783.000000,0.000000,0.000000,1.462500e+05,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100008,6.491433e+06,-757.333333,0.0,-391.333333,-909.000000,0.000000,0.000000,1.561485e+05,8.001900e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100009,5.651005e+06,-1271.500000,0.0,-794.937500,-1108.500000,0.000000,0.000000,2.667118e+05,7.695354e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100010,5.576631e+06,-1939.500000,0.0,-119.500000,-1138.000000,NaN,0.000000,4.950000e+05,1.740038e+05,0.000000,...,0.0,0.5,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100011,5.741084e+06,-1773.000000,0.0,-1293.250000,-1463.250000,5073.615000,0.000000,1.088071e+05,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100013,5.922081e+06,-1737.500000,0.0,-1068.000000,-1054.750000,19305.000000,0.000000,5.180700e+05,0.000000e+00,NaN,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100014,5.326770e+06,-1095.375000,0.0,-387.375000,-821.333333,3726.352500,0.000000,3.412416e+05,1.516428e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100015,5.473350e+06,-947.750000,0.0,-598.250000,-555.500000,NaN,0.000000,1.023739e+05,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100016,5.217357e+06,-618.428571,0.0,-217.142857,-929.666667,0.000000,0.000000,6.785486e+04,1.274490e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100017,5.704886e+06,-1944.333333,0.0,-1512.333333,-1677.833333,0.000000,0.000000,1.432950e+05,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100019,5.832096e+06,-495.000000,0.0,5441.000000,NaN,0.000000,0.000000,3.600000e+05,1.227351e+05,135000.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100020,6.093290e+06,-261.500000,0.0,-32.500000,-223.000000,0.000000,0.000000,4.987125e+04,3.077212e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100022,6.795608e+06,-337.000000,0.0,940.000000,NaN,0.000000,0.000000,5.287500e+05,2.052765e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100023,6.296143e+06,-1164.384615,0.0,-364.916667,-997.300000,2720.850000,0.000000,1.265917e+05,1.370385e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100025,6.187585e+06,-700.000000,0.0,1124.000000,NaN,NaN,0.000000,2.452500e+06,1.886544e+06,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100026,5.103097e+06,-679.000000,0.0,899.000000,-916.000000,0.000000,0.000000,1.875000e+06,1.738907e+06,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.000000,0.0,0.0
100027,5.904154e+06,-793.000000,0.0,-278.333333,-902.500000,2565.000000,0.000000,2.084325e+05,1.255710e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100028,6.356884e+06,-1401.750000,0.0,2387.700000,-1238.285714,0.000000,0.000000,1.267396e+05,1.863045e+04,14484.394286,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100029,5.460404e+06,-1416.750000,0.0,-336.333333,-1541.333333,NaN,0.000000,1.857008e+06,1.227429e+06,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.500000,0.0,0.0
100030,6.584422e+06,-930.833333,0.0,-61.600000,-624.000000,0.000000,0.000000,1.072385e+05,7.527375e+04,4276.005000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100031,6.187664e+06,-579.571429,0.0,468.600000,-449.000000,NaN,0.000000,5.672359e+05,5.625000e+05,NaN,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100032,5.038524e+06,-1071.000000,0.0,-525.250000,-636.666667,0.000000,0.000000,3.177900e+05,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100033,5.943236e+06,-195.000000,0.0,913.000000,NaN,NaN,0.000000,6.750000e+05,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100035,5.407253e+06,-1399.333333,0.0,487.000000,-2023.750000,13760.066250,0.000000,3.938984e+05,4.108743e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
100036,6.673494e+06,-889.000000,0.0,-462.000000,NaN,NaN,0.000000,9.495900e+04,8.339355e+03,NaN,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456220,5.015729e+06,-1000.800000,0.0,5134.000000,-1076.666667,0.000000,0.400000,1.660680e+05,1.175350e+05,57551.145000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456221,6.645689e+06,-727.200000,0.0,7.000000,-457.666667,11427.750000,0.000000,2.237598e+05,1.112940e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.200000,0.0,0.000000,0.0,0.0
456223,6.433063e+06,-539.000000,0.0,-382.250000,-412.750000,0.000000,0.000000,4.312619e+05,4.268700e+03,7300.687500,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.200000,0.0,0.0
456224,6.438680e+06,-1755.823529,0.0,-865.875000,-1530.909091,1492.488000,0.000000,2.263932e+05,5.251190e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456225,6.311765e+06,-1053.000000,0.0,253.125000,-714.000000,NaN,0.000000,4.126880e+05,3.996357e+05,11822.460000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456226,5.776436e+06,-455.000000,0.0,514.000000,NaN,NaN,0.000000,2.250000e+05,2.550600e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456227,5.394376e+06,-1596.250000,0.0,-726.250000,-1305.000000,4680.000000,0.000000,1.993106e+05,5.231700e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456229,6.487026e+06,-1839.000000,0.0,9118.000000,NaN,11353.500000,1.000000,2.587500e+05,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456230,6.006131e+06,-1254.833333,1.0,2025.200000,-1091.000000,0.000000,0.000000,1.163869e+05,2.532027e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456231,5.856978e+06,-712.285714,0.0,536.714286,-529.500000,NaN,0.000000,4.733479e+05,1.407780e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456232,5.301868e+06,-529.500000,0.0,506.000000,NaN,NaN,0.000000,4.005000e+05,2.586712e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456233,5.633934e+06,-203.000000,0.0,528.000000,NaN,0.000000,0.000000,2.826633e+05,2.239439e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456234,5.087536e+06,-756.600000,0.0,-205.100000,-701.714286,10364.122500,0.000000,1.393960e+05,2.452031e+03,64.297500,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456235,6.163534e+06,-1785.000000,0.0,1381.333333,-1243.500000,0.000000,0.000000,4.930500e+05,3.866790e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.333333,0.0,0.0
456236,6.004318e+06,-1270.153846,0.0,478.769231,-1343.888889,2805.545455,0.000000,6.389756e+05,4.420797e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456237,5.118918e+06,-1430.000000,0.0,-699.000000,-1090.000000,NaN,0.000000,9.814500e+04,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456238,6.460416e+06,-2157.833333,0.0,-1561.666667,-2362.500000,3191.737500,0.000000,1.849170e+05,1.042252e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456239,5.319579e+06,-1529.909091,0.0,333.000000,-1534.166667,0.000000,0.000000,5.693011e+05,3.809529e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456240,6.717952e+06,-1438.500000,0.0,12425.000000,-2464.000000,3996.000000,0.000000,6.619950e+04,3.987225e+04,50127.750000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456241,5.573238e+06,-1599.200000,0.0,-1623.000000,-695.666667,NaN,0.000000,2.430000e+05,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456242,6.702236e+06,-491.000000,0.0,509.000000,NaN,NaN,0.000000,1.980000e+05,1.860975e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456243,5.208987e+06,-710.571429,0.0,-459.400000,-455.000000,0.000000,0.000000,2.553962e+05,3.118635e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456244,6.643937e+06,-1740.956522,0.0,-1132.090909,-1480.578947,7602.390000,0.000000,3.264789e+05,4.704964e+04,44.553750,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456246,5.366286e+06,-1361.000000,0.0,-234.666667,-1331.000000,NaN,0.000000,1.275000e+05,0.000000e+00,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456247,6.238913e+06,-1043.181818,0.0,1449.818182,-1085.000000,5932.676250,0.090909,4.714057e+05,3.655650e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.090909,0.0,0.0
456249,5.371700e+06,-1667.076923,0.0,-1232.333333,-1364.750000,6147.000000,0.000000,2.841430e+05,1.630710e+04,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456250,6.817237e+06,-862.000000,0.0,1288.333333,-760.000000,0.000000,0.000000,1.028820e+06,7.440134e+05,19422.795000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456253,5.885018e+06,-867.500000,0.0,280.500000,-794.000000,NaN,0.000000,9.900000e+05,4.489582e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456254,6.669849e+06,-1104.000000,0.0,-859.000000,-859.000000,NaN,0.000000,4.500000e+04,0.000000e+00,NaN,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
456255,5.126332e+06,-1089.454545,0.0,3231.272727,-968.333333,12056.481000,0.090909,3.456290e+05,1.918641e+05,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

In [101]:
## Pre-process data
# Get all data columns
dataCols = application_train.columns

# categoricalize
categoricalFeatures = [col for col in dataCols if data[col].dtype == 'object']

for column in categorical_columns:
    application_train[column] = application_train[column].astype('category')
    application_test[column] = application_test[column].astype('category')

In [135]:
ignoredFields = ['TARGET']
# Assemble into I/O dataset format
#   X - All fields other than 'TARGET'
#   Y - 'TARGET' fields
trainDataMask = [col for col in dataCols if col not in ignoredFields]
x = application_train[trainDataMask]
y = application_train['TARGET']

# Split training data randomly using train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    x, y, 
    test_size = 0.25,
    random_state = randSeed
)

# Create lgb dataset
lgb_train = lgb.Dataset(data=x_train, label=y_train)
lgb_test = lgb.Dataset(data=x_test, label=y_test)

In [165]:
params = {
    'task': 'train',
    'device' : 'cpu',
    'nthread': 4,            # [CPU] number of OpenMP threads
    'gpu_use_dp' : 'false',  # [GPU] set to 1 to enable 64bit float point
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'num_iteration': 1000,
    'num_leaves': 32,
    'metric': 'auc',
    'reg_alpha': 5,
    'reg_lambda': 10,
    'learning_rate': 0.05,
    'max_bin': 256,
    'max_depth' : 10,
    'min_data_in_leaf': 32,
    'min_split_gain': 0.5,
    'min_child_weight': 1,
    'min_child_samples': 5,
    'subsample_for_bin': 200,
    'subsample': 1,
    'subsample_freq': 1,
    'colsample_bytree': 0.6,
    'verbose': 0
}

gbm = lgb.train(
    params,
    lgb_train,
    num_boost_round = 50,
    valid_sets = lgb_test,
    early_stopping_rounds = 50,
    verbose_eval = 50
)

c:\users\chenc\envs\kaggle\lib\site-packages\lightgbm\engine.py:99: UserWarning:

Found `num_iteration` in params. Will use it instead of argument

Training until validation scores don't improve for 10 rounds.
[50]	valid_0's auc: 0.744373
[100]	valid_0's auc: 0.75339
[150]	valid_0's auc: 0.759146
[200]	valid_0's auc: 0.76165
[250]	valid_0's auc: 0.762997
[300]	valid_0's auc: 0.763662
[350]	valid_0's auc: 0.763995
[400]	valid_0's auc: 0.764199
[450]	valid_0's auc: 0.764599
Early stopping, best iteration is:
[468]	valid_0's auc: 0.764712